body{
    background-color:rgb(233, 230, 230);
    background-image: url("assets/7184815e5e.png");
    font-family: "roboto";
}

.auth-main-container{
    width: 200px;
    height: 250px;
    align-content: center;
    margin: 50px;
    outline:  1px grey;
    display: block;
    border-radius: 30px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


button{
    background-image: linear-gradient(to right, peachpuff 0%, #1fddff  51%, peachpuff  100%);
    font-family: "roboto";
    font-size: 15px;
    color: black;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px;
    background-color: peachpuff;
    text-align: center;
}

         
.auth-button {
    background-image: linear-gradient(to right, skyblue 0%, #ffc3a0  51%, #FFAFBD  100%);
    margin: 10px;
    padding: 15px 45px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    background-size: 200% auto;           
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .auth-button:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
  }
 
  .al-center {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-image: url("assets/white-painted-wall-texture-background_1001861-53.avif");
  }